<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? || !paciente.endereco.nil? && paciente.endereco.errors.any? %>
    <div style="color: red">
      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <% paciente.endereco.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :nascimento, style: "display: block" %>
    <%= form.date_field :nascimento %>
  </div>

  <%= fields_for(:endereco, paciente.endereco) do |f| %>
    <div>
      <%= f.label :cep, style: "display: block" %>
      <%= f.text_field :cep %>
    </div>

    <div>
      <%= f.label :cidade, style: "display: block" %>
      <%= f.text_field :cidade %>
    </div>

    <div>
      <%= f.label :bairro, style: "display: block" %>
      <%= f.text_field :bairro %>
    </div>

    <div>
      <%= f.label :logradouro, style: "display: block" %>
      <%= f.text_field :logradouro %>
    </div>

    <div>
      <%= f.label :complemento, style: "display: block" %>
      <%= f.text_field :complemento %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
