<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<%= render 'consultas/list', consultas: @paciente.consultas %>
<p><%= link_to "Marcar nova consulta", new_consulta_path(paciente_id: @paciente) %></p>

<div>
  <%= link_to "Edit this paciente", edit_paciente_path(@paciente) %> |
  <%= link_to "Back to pacientes", pacientes_path %>

  <%= button_to "Destroy this paciente", @paciente, method: :delete %>
</div>
