<%= form_with(model: consulta) do |form| %>
  <% if consulta.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consulta.errors.count, "error") %> prohibited this consulta from being saved:</h2>

      <ul>
        <% consulta.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.datetime_field :data %>
  </div>

  <%= form.hidden_field :paciente_id, value: @paciente %>

  <div>
    <%= form.label :medico_id, style: "display: block", value: "Médico" %>
    <%= form.collection_select :medico_id, Medico.all, :id, :nome %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
