<!DOCTYPE html>
<html>
  <head>
    <title>ConsultaSim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Orbit&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <script src="https://unpkg.com/feather-icons"></script>
  <body>
    <header id="main-header">
      <%= link_to root_path, class: "header-link" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
        </svg>
      <% end %>
      <%= link_to "Pacientes", pacientes_path, class: "header-link" %>
      <%= link_to "Médicos", medicos_path, class: "header-link" %>
      <%= link_to "Agendar consulta", pacientes_path, class: "header-link", id: "consulta-link" %>
    </header>
    <%= yield %>
    <script>
      feather.replace()
    </script>
  </body>
</html>
